<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net46" />
  <package id="Dapper.Contrib" version="1.50.4" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="reactiveui" version="7.4.0" targetFramework="net46" />
  <package id="reactiveui-core" version="7.4.0" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net46" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net46" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net46" />
  <package id="Splat" version="1.4.0" targetFramework="net46" />
  <package id="SQLite" version="3.13.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net46" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net46" />
  <package id="ToastNotifications" version="2.2.5" targetFramework="net46" />
  <package id="ToastNotifications.Messages" version="2.2.5" targetFramework="net46" />
</packages>